* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #FDFFE1;
}

.form__wrapper {
    width: 500px;
    margin: 40px auto;
}

.forgot-password_wrapper {
    text-align: center;
}

.table__wrapper {
    width: 100%;
    overflow-x: scroll;
    margin: 50px 0;
}

.day_of_weeks {
    padding: 5px 15px;
    margin: 0 10px;
    background: #fff;
    border: 1px solid #1c7430;
    color: #1c7430;
    font-weight: 500;
}

.current_working_line {
    background: #9fcdff;
}

.not_current_working_line {
    display: none;
}

.hours__wrapper {
    display: inline;
    font-size: 14px;
}

.total-hour {
    color: green;
    font-weight: 700;
}

.less-hour {
    color: red;
    font-weight: 700;
}

.update-hours {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    font-weight: 600;
    color: #fff;
    background: #897261;
}

.year-month_selector {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.year-month__wrapper {
    display: inline-block;
    margin: 0 10px;
}

.statistics__wrapper {
    width: 100%;
    margin-top: 30px;
}

.user_statistics__wrapper span {
    display: inline-block;
    font-weight: 600;
    margin-top: 5px;
}

.lates_statistics__wrapper {
    text-align: center;
    padding-top: 30px;
}

.late__image__wrapper {
    border-radius: 50%;
    width: 75px;
    height: 70px;
    overflow: hidden;
    margin: 0 auto;
}

.late__image {
    width: 70px;
}

.late__card {
    width: 90px;
    display: inline-block;
    margin: 0 5px 5px 5px;
    background: #FDEFE1;
    text-align: center;
}

@media screen and (max-width: 430px) {
    .form__wrapper {
        width: 75%;
        margin: 40px auto;
    }
}