* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #FDFFE1;
}

.page__wrapper {
    width: 100%;
    padding: 10px;
}

.form__wrapper {
    width: 500px;
    margin: 40px auto;
}

.forgot-password_wrapper {
    text-align: center;
}

.table__wrapper {
    width: 100%;
    overflow-x: scroll;
    margin: 50px 0;
}

.day_of_weeks {
    padding: 5px 15px;
    margin: 0 10px;
    background: #fff;
    border: 1px solid #1c7430;
    color: #1c7430;
    font-weight: 500;
}

.current_working_line {
    background: #9fcdff;
}

.not_current_working_line {
    display: none;
}

.hours__wrapper {
    display: inline;
    font-size: 14px;
}

.total-hour {
    color: green;
    font-weight: 700;
    display: block;
}

.less-hour {
    color: red;
    font-weight: 700;
    display: block;
}

.update-hours {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    font-weight: 600;
    color: #fff;
    background: #897261;
}

.year-month_selector {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.year-month__wrapper {
    display: inline-block;
    margin: 0 10px;
}

.statistics__wrapper {
    width: 100%;
    margin-top: 30px;
}

.user_statistics__wrapper span {
    display: inline-block;
    font-weight: 600;
    margin-top: 5px;
}

.lates_statistics__wrapper {
    text-align: center;
    padding-top: 30px;
}

.late__image__wrapper {
    border-radius: 50%;
    width: 75px;
    height: 70px;
    overflow: hidden;
    margin: 0 auto;
}

.late__image, .admin_user_image {
    width: 70px;
}

.late__card {
    width: 90px;
    display: inline-block;
    margin: 0 5px 5px 5px;
    background: #FDEFE1;
    text-align: center;
}

.scale_max_late {
    margin-top: 20px;
    width: 100%;
    height: 25px;
    background: #28a745;
}

.late_count_scale {
    text-align: center;
    height: 25px;
    background: red;
    color: #fff;
    padding-top: 2px;
    box-sizing: border-box;
}

.forgotten {
    display: inline-block;
    margin: 5px;
    color: red;
    font-size: 20px;
}

.profile__wrapper, .create-user__wrapper {
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 30px auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.profile_image_wrapper {
    width: 180px;
    margin: auto;
    position: relative;
}

.profile_image {
    width: 180px;
}

.link_to_change_password {
    width: 100%;
    text-align: center;
}

.delete_file {
    padding: 3px 6px 4px 6px;
    font-size: 20px;
    background: red;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
}

.counter-value__wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.not_active {
    background: #ffb9b2;
}

.admin_user_image_wrp {
    text-align: center;
}

.edit__icon_link {
    padding: 3px 5px;
    background: #007BFF;
    color: #fff;
}

.edit__icon_link:hover {
    color: #ccc;
}

.action__wrapper {
    display: inline-block;
}

@media screen and (max-width: 430px) {
    .form__wrapper {
        width: 75%;
        margin: 40px auto;
    }
}